In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [55]:
dataset_df = pd.read_json('dataset_ml.json')

In [56]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23444 entries, 0 to 23443
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   23444 non-null  int64
 1   season_id            23444 non-null  int64
 2   player_id            23444 non-null  int64
 3   total_games          23444 non-null  int64
 4   games_played         21145 non-null  float64
 5   goals                11935 non-null  float64
 6   assists              11990 non-null  float64
 7   ppg                  11554 non-null  float64
 8   yellow_cards         17870 non-null  float64
 9   second_yellow_cards  16757 non-null  float64
 10  red_cards            1451 non-null   float64
 11  club_id              23444 non-null  int64
 12  position             23426 non-null  object
 13  age                  23442 non-null  float64
 14  mk_value             22455 non-null  float64
 15  agent                20112 non-null  object
dtypes: float64(9), int64(5), object(2)
memory usage: 2.9+ MB

In [57]:
df = dataset_df[['games_played', 'goals', 'assists', 'position', 'age', 'mk_value']]

In [60]:
df = df.dropna(subset=['mk_value', 'age', 'position'])

df['games_played'].fillna(0, inplace=True)
df['goals'].fillna(0, inplace=True)
df['assists'].fillna(0, inplace=True)

df['games_played'] = df['games_played'].astype('int64')
df['goals'] = df['goals'].astype('int64')
df['assists'] = df['assists'].astype('int64')
df['age'] = df['age'].astype('int64')

posit = {}
for i in range(len(df.position.unique())):
    posit[f'{df.position.unique()[i]}'] = i

df['position'].replace(posit, inplace=True)
df

       games_played  goals  assists  position  age    mk_value
0                23      1        0         0   20  17000000.0
1                23      2        0         0   29  16000000.0
2                24      1        0         0   20   4500000.0
3                24      1        0         0   20   4500000.0
4                14      2        1         0   26   3500000.0
...             ...    ...      ...       ...  ...         ...
23439            25      0        0         9   27   1200000.0
23440            24      5        3         9   29   1000000.0
23441             3      0        0         9   20    500000.0
23442             0      0        0         9   19    150000.0
23443             0      0        0         9   18    100000.0

[22442 rows x 6 columns]

In [61]:
train , test = train_test_split(df, test_size=.1, random_state=313)
train , valid = train_test_split(train, test_size=.11, random_state=313)

In [66]:
model = LinearRegression()
model.fit(train.drop('mk_value', axis=1), train.mk_value)

LinearRegression()

In [67]:
print('intercept/bias = ', model.intercept_)
print('coefficients = ', model.coef_)

intercept/bias =  15270390.172112579
coefficients =  [ 156342.64234233 1435798.15702567 1638161.67766062 -639967.12854247
 -500224.40341084]

In [68]:
from sklearn.metrics import r2_score

y_pred = model.predict(valid.drop('mk_value', axis=1))

r2_score(valid.mk_value, y_pred)

0.3784313885691978

In [69]:
y_test_pred = model.predict(test.drop('mk_value', axis=1))
r2_score(test.mk_value, y_test_pred)

0.35435375888322296

In [70]:
y_pred = model.predict(test.drop('mk_value', axis=1))
mean_squared_error(test.mk_value, y_pred)

104565109383430.25